* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

div,
p,
a,
span {
    font-family: Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, sans-serif;
}


.sg-container {
    max-width: 1200px;
    @media screen and (min-width: 1680px) {
        max-width: 1440px;
    }
    margin: 0 auto;
}

.sg-flex {
    display: flex;
    .sg-flex-main {
        flex: 1;
    }
}
.sg-flex-column {
    flex-direction: column;
    height: 100%;
}

.show-image {
    .el-dialog__body {
      text-align: center !important;
    }
    .show-image_btns {
        overflow: hidden;
        clear: both;

        .el-button:first-child {
            float: left;
        }

        .el-button:last-child {
            float: right;
        }
    }

    .image-error-slot {
        .el-icon-picture-outline {
            font-size: 50px;
        }
    }
}